name: Main workflow

on:
  pull_request:
  push:
  schedule:
    - cron: 0 0 * * 5

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: |
          curl -sSL https://mise.run | sh
          echo 'export PATH=$HOME/.local/bin:$PATH' >> $GITHUB_ENV

      - run: mkdir -p ~/.local/share/mise/plugins
      - run: ln -s $PWD ~/.local/share/mise/plugins/poetry
      - run: mise i poetry@latest python
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: mise x poetry@latest -- poetry --version
      - run: cat poetry-installer-error-*.log && exit 1
        if: failure()

      - name: Run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        run: |-
          mise config set settings.trusted_config_paths "${PWD}/tests"
          mise -C "${PWD}/tests" install
          make test

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install ShellCheck
        run: brew install shellcheck

      - name: Run ShellCheck
        run: make lint

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install shfmt
        run: brew update && brew install shfmt

      - name: Run shfmt
        run: make format-check
